body{
    font-family: ariel, sans-serif;
    margin: 70px;
    padding: 0%;
    background-color: purple;
    color: blue;
    content: center;
    text-align: center;
}
header{
    background-color: greenyellow;
    color: blueviolet;
    padding: 1%;
    text-align: center;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0%;


}

header nav ul li {
    display: inline-block;
    margin-right: 20px;

}
header nav a {
    color: #fff;
    text-decoration: none;

}
main {
    padding: 2%;

}
section {
    background-color: gold;
    padding: 10%;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    box-shadow:0 0 10px  ;
    margin-bottom: 20px;
    font-size: 50px;
}
h1, h2 {
color: black;
font-size: 60px;

}

label {
    display: block;
    margin-bottom: 100px;


}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
input[type="submit"] {
    background-color: green;
    color:navy;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    justify-items: center;
}
footer {
background-color: whitesmoke;
color:maroon;
text-align: center;
padding: 1%;
clear: both;
}
img{
    text-align: center;
    justify-content: center;
}
a{
    margin-right: 80px;
    font-size: x-large;
}
ul{
    list-style: none;
}
button{
    font-size: x-large;
    text-align: center;
    color: green;
    background-color: greenyellow;
    padding-right: 25%;
}
/* Responsiveness*/
@media(max-width:100px) {
    img {
        width: 800px;
        height: 600px;
        margin: 0 auto;
        display: block;
    }
}



    






